
<div role="navigation" class="navbar navbar-inverse navbar-fized-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="s-only">Toggle navigatio</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Symbio</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a>Lights</a></li>
            <li><a>Camera</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Action</li>
            <li><a>Engage</a></li>
          </ul>
        </li>
      </ul>
      <form role="form" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
  </div>
</div>