doctype html

html
    head
        meta(charset="utf-8")
        title Gulp demo site
        link(rel="stylesheet",href="/css/style.css")
    body
        include partials/_nav
        include partials/_jumbotron

        .container
            .row
                .col-md-4
                    h2 Heading
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p: a.btn.btn-default(href="#") View details

                .col-md-4
                    h2 Heading
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p: a.btn.btn-default(href="#") View details

                .col-md-4
                    h2 Heading
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p: a.btn.btn-default(href="#") View details


            .row
                .col-md-4
                    img.img-circle(src="http://placehold.it/150")
                    h3 Featurette
                        div.text-muted Mind. Blown.
                    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

                .col-md-4
                    img.img-circle(src="http://placehold.it/150")
                    h3 Featurette
                        div.text-muted Mind. Blown.
                    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

                .col-md-4
                    img.img-circle(src="http://placehold.it/150")
                    h3 Featurette
                        div.text-muted Mind. Blown.
                    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.


            footer
                p Company 2014


    script(src="/js/vendor.js")
    script(src="/js/app.js")
